.module-grid::after {
	content: '';
	display: block;
	clear: both;
	height: 0;
}

.module-grid__cell-12 {
	width: 100%;
	float: left;
}

.module-grid__cell-11 {
	float: left;
	width: 91.66667%
}


.module-grid__cell-10 {
	float: left;
	width: 83.33334%
}

.module-grid__cell-9 {
	float: left;
	width: 75%;
}

.module-grid__cell-8 {
	float: left;
	width: 66.66667%
}

.module-grid__cell-7 {
	float: left;
	width: 58.33334%
}

.module-grid__cell-6 {
	float: left;
	width: 50%;
}

.module-grid__cell-5 {
	float: left;
	width: 41.66667%
}


.module-grid__cell-4 {
	float: left;
	width: 33.33334%;
}

.module-grid__cell-3 {
	float: left;
	width: 25%;
}

.module-grid__cell-2 {
	float: left;
	width: 16.66667%
}

.module-grid__cell-1 {
	float: left;
	width: 8.33334%
}


@media screen and (max-width: 768px) {
	.module-grid__cell-12--tablet {
		width: 100%;
		float: left;
	}

	.module-grid__cell-11--tablet {
		float: left;
		width: 91.66667%
	}


	.module-grid__cell-10--tablet {
		float: left;
		width: 83.33334%
	}

	.module-grid__cell-9--tablet {
		float: left;
		width: 75%;
	}

	.module-grid__cell-8--tablet {
		float: left;
		width: 66.66667%
	}

	.module-grid__cell-7--tablet {
		float: left;
		width: 58.33334%
	}

	.module-grid__cell-6--tablet {
		float: left;
		width: 50%;
	}

	.module-grid__cell-5--tablet {
		float: left;
		width: 41.66667%
	}


	.module-grid__cell-4--tablet {
		float: left;
		width: 33.33334%
	}

	.module-grid__cell-3--tablet {
		float: left;
		width: 25%;
	}

	.module-grid__cell-2--tablet {
		float: left;
		width: 16.66667%
	}

	.module-grid__cell-1--tablet {
		float: left;
		width: 8.33334%
	}
}


@media screen and (max-width: 780px) {
	.module-grid__cell-12--mobile {
		width: 100%;
		float: left;
	}

	.module-grid__cell-11--mobile {
		float: left;
		width: 91.66667%
	}


	.module-grid__cell-10--mobile {
		float: left;
		width: 83.33334%
	}

	.module-grid__cell-9--mobile {
		float: left;
		width: 75%;
	}

	.module-grid__cell-8--mobile {
		float: left;
		width: 66.66667%
	}

	.module-grid__cell-7--mobile {
		float: left;
		width: 58.33334%
	}

	.module-grid__cell-6--mobile {
		float: left;
		width: 50%;
	}

	.module-grid__cell-5--mobile {
		float: left;
		width: 41.66667%
	}


	.module-grid__cell-4--mobile {
		float: left;
		width: 33.33334%
	}

	.module-grid__cell-3--mobile {
		display: block;
		float: left;
		width: 100%;
		height: auto;
	}

	.module-grid__cell-2--mobile {
		float: left;
		width: 16.66667%
	}

	.module-grid__cell-1--mobile {
		float: left;
		width: 8.33334%
	}
}



/* с отступами */

.module-grid--gutters {
	margin: 0 -10px;
}

.module-grid--gutters > * {
	padding: 0 10px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.module-grid--gutters {
		margin: 0 -7px;
	}

	.module-grid--gutters > * {
		padding: 0 7px;
		box-sizing: border-box;
		margin-bottom: 14px;
	}
}

@media screen and (max-width: 480px) {
	.module-grid--gutters {
		margin: 0 -4px;
	}

	.module-grid--gutters > * {
		padding: 0 4px;
		box-sizing: border-box;
		margin-bottom: 8px;
	}
}
