body{
	margin: 0;
	font-family: "Roboto", sans-serif; 
}
img {
  display: inline-block;
      vertical-align: top;
      max-width: 100%;
      height: auto;
}
input, select, textarea, button{
	font-family: inherit;
}

/*шапка*/
.nav-bar a{
	color: #333333;
text-decoration: none;}
.nav-bar{ 
	width: 100%;
	background-color: #cfe5ef;
	text-align: center;
	font-weight:  bold;
	font-size: 1.25em;
	height: auto;
	color: #333333;
}
.logo-img{
	display: inline-block;
	width: 200px;
	height: 65px;
	background:url(no-name.png) no-repeat transparent;
}

.logo{
	float: left;	
	font-size: 2.4em;   
    margin: 0.9em 0;
    margin-left: 0%;
}
.logo:hover{
	background-position: -200px 0;
}
.logo:active{
	background-position: -400px 0;
}
.nav-bar:after{
	content: "";
	display: block;
	height: 0px;
	clear: both;
}
.nav-rubrics{ 
	float: left;
	 margin: 3em 0;
	padding-left:  4.39%;
	padding-right: 1.6%;
	vertical-align: middle;
}
.nav-rubrics a:hover{
color: #52359d;
text-decoration: underline;
text-decoration-color: #6655a8
}
.nav-rubrics a:active{
color: #333;
text-decoration: underline;
text-decoration-color: #4f5456
}
/*выпадашка*/
.gallery-a:before{
	content: "|";
	margin-right: 1em;
}
.gallery-a:after{
	content: "|";
	margin-left: 0.7em;
}
.dropdown{
	position: relative;
  margin: 3em 0 ;
	float: left;
	margin-left: 1.44%;
	margin-right: 1.44%;
	background: white;
}
.dropdown:hover {
z-index: 1;
}
.dropdown:hover .dropdown-content{
display: block;
}
.nav-ui-kit:before{
content: "|";
	margin-right: 0.5em;
}
.nav-drop{
	background-color: #fff;
}
.dropdown-content ul{
	list-style: none;
}
.dropdown-content{
	text-align: justify;
	font-weight: normal;
	position: absolute;
	min-width: 300px;
	display: none;
	left: 0;
	top: 100%;
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-radius: 0px 10px 10px 10px;
}
.ui-kit .dropdown-content{
	min-width: 100px;
}
.nav-contacts{ 
	margin: 3em 0 ;
	float: left;
	padding-left: 1.44%;
}
.nav-contacts a:hover{
color: #52359d;
text-decoration: underline;
text-decoration-color: #6655a8
}
.nav-contacts a:active{
color: #333;
text-decoration: underline;
text-decoration-color: #4f5456
}
.button {
	float: right;
		background: #ffffff;
	    display: inline-block;
	    padding: 23px 25px;
	     margin: 1.85em 0 ;
	     font-weight: normal;
}
.button:hover{
background:#52359d;
color: #ffffff;
}
.button:active{
background:#333333;
color: #999999;
}
.content{
	margin-left: auto;
	margin-right: auto;
	width: 65.21%;
	min-width: 900px;
}
/*Осноовной контент*/
.main{
	margin-top: 60px;
}

.h5{
	font-weight: bold;
	font-size: 24px;
	display: block;
	margin-bottom: 30px;
}
.h5:after{
	content: "";
	margin-top: 10px;
	height: 6px;
	width: 200px;
	background-color: #c3c3c3;
	display: block;
}

.demo{
	border-left:  1px solid #9f9f9f;
	border-right:  2px solid #9f9f9f;
	border-top:  1px solid #9f9f9f;
	border-bottom:  2px solid #9f9f9f;
	background: #e2e2e2;
}
.floats-gut{
	margin-top: 75px;
}
.h-rev{
	margin-top: 65px;
}
.review {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 35px;
}
.review-img{
	float: left;
width: 200px;
height: 200px;

}
.review:after{
	content: "";
	display: block;
	height: 0px;
	clear: both;
}
.name{
	margin-left: 20px;
	margin-top: 15px;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}
.name-calendar{
	display: inline-block;
	margin-left: 36px;
}
.shape{
	padding-top: 0%;
	position: relative;
}
.news-col{
	padding-top: 30%;
	position: relative;
}
.n-first{
	position: absolute;
top: 0;
left: 0;
width: 100%;
height: 50%;
}
.n-second{
		position: absolute;
top: 5;
left: 0;
width: 100%;
height: 50%;
}
.ratio-element{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.name-calendar img{
	width: 16px;
	height: 20px;
vertical-align: middle;
}
.name-text{
margin-left: 10px;
color:#6e6e6e;
font-weight: normal;
font-size: 1rem;
}
.text{
	padding-left: 1.25em;
	font-size: 1rem;
	color: #797979;
	display: block;
    margin-top: 2.1em;
    overflow: auto;

}
hr{
	background: #c6c6c6;
}
.h-news{
	margin-top: 100px;
}
.n-container{
	width: 100%;
	margin-top: 33px;
}
.n-container::after{
	content: "";
	display: block;
	height: 0px;
	clear: both;
}
.news{
	color: #797979;
}
.n-text{
	float: left;
	font-size: 0.813em;
	padding-top: 3%; 
	margin-bottom: 0.4%;
	overflow: auto;
}
.read-more{
	float: left;
	padding-left: 65%;
	color: #0000ff;
	padding-bottom: 1rem;
	text-decoration: underline;
	text-decoration-color: #dfdfff;  
	display: inline-block;
}
.n-text, .read-more{
	margin-top: 0.7rem;
	font-size: 0.813em;
	width: 100%;
}
.news-h{
	font-size: 1em;
	width: 100%;
}
.h-gallery{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 65px;
	}
.h-gallery:after{
margin-left: auto;
margin-right: auto;
	content: "";
	margin-top: 10px;
	height: 6px;
	width: 200px;
	background-color: #c3c3c3;
	display: block;
}
.ramka-img{
	display: block;
}
.ramka{
	max-width: 100%;
	padding: 8px;
	position: relative;}
.ramka::before{
		content: '';
	border-top: 1px solid #e2e2e2;
	border-left: 1px solid  #e2e2e2;
	box-sizing: border-box;
	position: absolute;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	top:0;
	left: 0;
}
.ramka::after{
		content: '';
	border-bottom: 1px solid  #e2e2e2;
	border-right: 1px solid  #e2e2e2;
	box-sizing: border-box;
	position: absolute;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	bottom:0;
	right: 0;
}
.g-text{
	margin-left: 6%; 
}
.gallery-item{
	max-width: 24.6%;
	font-size: 13px;
	height: auto;
font-weight: normal;
}
.main{
	margin-bottom: 300px;
}
/* forms style*/
form{
	margin-top: 130px;
	margin-bottom: 200px;
}
.ui-control{
	position: relative;
}
.ui-control-input, .ui-control-textarea, .ui-control-select{
	box-sizing: border-box;
	padding: 12px 14px;
	line-height: 18px;
	font-size: 13px;
	width: 100%;
	color: #333;
	background-color: #fff;
}
.ui-control-input:focus, .ui-control-textarea:focus, .ui-control-select:focus{
background-color: #e9f8ff;
color: #000000;
}
.ui-control-textarea{
	min-height: 170px; 
	max-height: 500px;
	resize: vertical;
}
.ui-control-select{
	border: 1px solid #999999;
 -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  -ms-appearance: none;
  appearance: none!important;
  background-image: url(../img/Forma-1-copy-6.png);
  background-color: #fff;
   background-position: right 10px center;
  background-repeat: no-repeat;
  padding-right: 30px;
}
  select::-ms-expand {
  display: none;
}
 .ui-control-input::-moz-placeholder {color: #97a1aa;opacity: 1;}
  .ui-control-input::-webkit-input-placeholder { color: #97a1aa;opacity: 1; }
  .ui-control-input:-ms-input-placeholder { color: #97a1aa;opacity: 1; }
  .ui-control-input::-ms-input-placeholder { color: #97a1aa;opacity: 1; }
  .ui-control-input::placeholder { color: #97a1aa;opacity: 1; }
   .ui-control-textarea::-moz-placeholder {color: #97a1aa;opacity: 1;}
  .ui-control-textarea::-webkit-input-placeholder { color: #97a1aa;opacity: 1; }
  .ui-control-textarea:-ms-input-placeholder { color: #97a1aa;opacity: 1; }
  .ui-control-textarea::-ms-input-placeholder { color: #97a1aa;opacity: 1; }
  .ui-control-textarea::placeholder { color: #97a1aa;opacity: 1; }

  .ui-control-icon{
position: absolute;
top: 40px;
left: 22px;
width: 24px;
height: 24px;
background-image: url(../img/sprite.png);
background-repeat: no-repeat;
background-color: transparent;
pointer-events: none;
  }
:focus ~ .input-icon{
background-position: -24px 0px;
}
 .select-icon{
 	background-position: 0px -24px;
 }
 :focus ~ .select-icon{
background-position: -24px -24px;
}
.txtarea-icon{
	background-position: 0px -48px;
}
:focus ~ .txtarea-icon{
	background-position: -24px -48px;
}
.with-icon{
	padding-left: 44px; 
}
.label{
	margin-bottom: 10px;
	color: #000;
	font-size: 13px
}
label{
	font-size: 13px;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:24px;
    height:24px;
    margin-right: 1px;
    vertical-align:middle;
    background:url(../img/Rounded-Rectangle-3-copy1.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label{
	margin-left: 0%;
	color: #52359d;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/Rounded-Rectangle-3-copy2.png) left top no-repeat;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:24px;
    height:24px;
    margin-right: 1px;
    vertical-align:middle;
    background:url(../img/Ellipse-1-copy.png) left top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label{
	margin-left: 0%;
	color: #52359d;
}
input[type="radio"]:checked + label span {
    background:url(../img/Ellipse-1.png) left top no-repeat;
}
button{
	width: 105px;
	height: 45px;
	background-color: #fff;
}
button:hover{
	background-color:#52359d;
	color: white;
}
button:active{
	background-color:#333333;
	color: #999999;
}
.file-upload{
	display: inline-block;
background-color: #fff;
border: 1px solid #999999;
width: 175px;
height: 45px;
text-align: center;
vertical-align: top;
line-height: 45px;
position: relative;
}
.file-upload:hover{
 background-color:#52359d;
	color: white;
}
.file-upload:hover .up-icon{
 background-position: -24px 0px ;
}
.file-upload:active{
	background-color:#333333;
	color: #999999;
}
.file-upload:focus .up-icon{
 background-position: -48px 0px ;
}
.up-icon{
	margin-right: 5px;
	vertical-align: middle;
	display: inline-block;
	width: 24px;
	height: 24px;
	background:url(../img/sorite-up.png) no-repeat transparent;
}
.form-list{
	list-style: none;
	padding: 0px;
}
.form-list li{
	display: inline;
	padding-right: 1%;
}
@media only screen and (max-width: 900px){
	.shape img{
	float: right;
	width: 100%;
	height: 511px;
	overflow: auto;
}
.n-text, .read-more, .news-h{
	margin-top: 30px;
	font-size: 1.25em;
	width: 100%;
}
	.module-grid__cell-5-news{
	width: 100%;}
.n-text{
 float: left;
	margin-top: 30px; 
}
.news-h{
	font-size: 1.5em;
}
.content{
	width: 75%;
    min-width: unset;	
}
.nav-bar{
	font-size: 1rem;
}
.shape img{
	height: auto;
}
.ui-control-icon{
	    top: 45px;
	        left: 10px;
}
.with-icon {
    padding-left: 33px;
}
.read-more{
	padding-left: 15%;
}
.nav-bar{ 
	width: 100%;
	background-color: #cfe5ef;
	text-align: center;
	font-weight:  bold;
	font-size: 1em;
}
.nav-bar:after{
	content: "";
	display: block;
	height: 0px;
	clear: both;
}
.review-img{
	width: 100%;
	display: block;
}
.name{
	display: block;
	margin-left: 0px;
}
.name-calendar{
	margin-left: 0px;
}
.text{
padding-left: 0px;
font-size: 1.2rem;
}
.logo{
	display: inline-block;
	text-align: center;
	max-width: 200px;
	width: 100%;
	margin: 0.3em 33%;
}
.nav-rubrics{ 
	width: 100%;
	text-align: center;
display: block;
	 margin: 0.5em 0 ;
	padding-left:  0%;
	padding-right: 0%;
}
.dropdown{
	width: 100%;
  margin: 0.5em 0 ;
  text-align: center;
  display: block;
	margin-left: 0%;
	margin-right: 0%;
}
.button {
	text-align: center;
	display: block;
	width: 100%;
	float: left;
	    padding: 0px 0px;
	     margin: .5em 0 ;
}
.dropdown::after{
	content: "|";
	margin-left: 0.5em;
}
.dropdown:before{
	content: "|";
	margin-right: 0.5em;
}
.nav-contacts{ display: block;
	width: 100%;
	text-align: center;
	margin: 0.5em 0 ;
	padding-left: 0%;
}
.gallery-item{
	max-width: unset;
}
/*form style*/
.form-container{
	margin-top: 40px;
}
.label{
	font-size: 1.2em;
}
.form-list li{
	display: block;
	padding-right: 0%;
}
.form-button{
	display: block;
}

}
@media only screen and (max-width: 480px){
	.logo{
margin: 0.3em 10%;}
}
